POSTGRES_USER=tictick
POSTGRES_PASSWORD=tictick-local-postgres-password
POSTGRES_DB=tictick_hi

HTTP_PORT=8080

BOOTSTRAP_OPERATOR_USERNAME=admin
BOOTSTRAP_OPERATOR_PASSWORD=tictick-local-admin-password
AUTH_SESSION_TTL=12h
AUTH_COOKIE_SECURE=false

BINANCE_BASE_URLS=https://api.binance.com,https://data-api.binance.vision
SYNC_POLL_INTERVAL=10s
BACKTEST_POLL_INTERVAL=10s
TRADING_POLL_INTERVAL=10s
